.landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .logoWrap {
        height: 4rem;
        width: 4rem;
        border-radius: 999rem;
        background: rgba(255, 255, 255, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.flower-landing-overlay {
    position: absolute;
    width: 23.5rem;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    img {
        height: 100vh;
        object-fit: cover;
    }
}


.leafTop {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.leafBottom{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}



#navigation-button {
    cursor: pointer;
    height: 48px;
    width: 48px;
    position: absolute;
    top: 2%;
    left: 5%;
    background: #ffffff;
    border-radius: 999rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 10;

    .navigation-bar {
        border-bottom: 3px solid black;
        border-radius: 10px;
        width: 25px;
        margin: 3px 0;
    }
}

#products {
    background: #F3E4E1;
    display: grid;
    grid-template-columns: 30px auto 30px;
    grid-gap: 2rem 0;
    padding: 10rem 0;
    h1 {
        grid-column: 2 / span 1;
    }
}

#cart-button {
    width: 60px;
    height: 60px;
    background: $airBeanBrown;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.12);

    border-radius: 999rem;

    position: absolute;
    top: 2%;
    right: 5%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;

    .total-cart-items {

        width: 20px;
        height: 20px;
        position: absolute;

        display: flex;
        justify-content: center;
        align-items: center;

        background: #E5674E;
        border-radius: 999rem;

        top: 2%;
        right: 5%;


    }
    .cart-top {
        height: 8px;
        width: 8px;

        border: 2px solid white;
        border-bottom: 0;
        border-radius: 10px 10px 0 0;
    }

    .cart-lower {
        height: 13px;
        width: 16px;

        border: 2px solid white;
        border-radius: 2px;
    }

}

.item-name {
    white-space: nowrap;
}

.dots {
    border-bottom: 1px dotted rgba(255, 255, 255, 0.08);
    flex: 1;
    height: 3ch;
}
.total-dots {
    border-bottom: 1px dotted ;
    flex: 1;
    height: 2ch;
}


#confirmation {
    height: 100vh;
    background: $airBeanOrange;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    figure {
        position: relative;

        .cup {
            position: absolute;
            top: 50px;
            left: 165px;
        }
    }

    .confirm-btn {
        width: 184px;
        height: 55px;
        
        background: #FFFFFF;
        border-radius: 50px;

        color: $airBeanBrown;
        font-size: 24px;
        line-height: 120%;

        align-self: center;
    }
}

#profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10rem;
    background: $airBeanBrown;
}


