@import './variables';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {

    main {
        width: 23.5rem;
        min-height: 100vh;
    }
    
    #app {
        width: 23.5rem;
        background: rgba(56, 132, 109, 1);
        position: relative;
    }

    #about {
        background: rgba(243, 228, 225, 1);

        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        h1 {
            text-align: left;
            margin-top: 10rem;
            margin-left: 2rem;
        }

        p {
            text-align: left;
            margin: 2rem;

        }

        .profile-img {
            width: 74px;
            height: 74px;

            margin-top: 2.5rem;

            align-self: center;
        }

        h3 {
            font-size: 22px;
        }

        .profile-info {
            margin: .25rem 0 10rem 0;
            text-align: center;
        }
    }
}